*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #4f46e5;
    --secondary-color: #0f172a;
    --text-color: #334155;
    --light-bg: #f8fafc;
    --white: #ffffff;
}

body{
    color: var(--text-color);
    background-color: var(--white);
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 0
}
 a{
    text-decoration: none;
    color: inherit;
 }

 li{
    list-style: none;
 }

 .section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
    color: var(--secondary-color);
 }

 .section-title::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: var(--primary-color);
    bottom: -10px;
    left: 50%;
    transform: rotateX(-50%);
    border-radius: 2px;
 }

 .btn{
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
 }

 .primary